# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Ignore all build output EXCEPT build/web/
/build/*
!/build/web/

# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.iml
*.swp
*.swo
*.ntvs*
*.njsproj
*.sln
*.suo


brain/
*.log

# OS
.DS_Store
Thumbs.db
temp_energy_repo/
