[Unit]
Description=Smart Room MQTT Logger (5-minute sensor averager)
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/PROJECT_CODE/workers
ExecStart=/home/pi/PROJECT_CODE/venv/bin/python3 /home/pi/PROJECT_CODE/workers/mqtt_logger.py
Environment="DB_PATH=/home/pi/PROJECT_CODE/room_backend/db.sqlite3"
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
